* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/background.png");
	/*padding-bottom:5%;*/
  padding-top: 20vh;
  font-family: "Verdana";
}

#title{
  text-align: center;
  color:#FF66AA;
   text-shadow: 3px 3px white;
   margin-bottom: 3%;
}

.align_center{
  text-align: center;
}

.block {
  display: block;
	margin:auto;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(150, 150, 150, .5);
  border-radius:50px;
}

.back{
  height:70px;
  margin-right: 1%;
  position: sticky;
  right: 0;
  top: 0;
}

h1{
  text-align: center;
}

#replay{
  text-align: center;
  padding:1% 1% 1% 1%;
}

#password{
  margin-top: 2%;
  text-align: center;
  padding:1% 1% 1% 1%;
}

#email{
  margin-top: 2%;
  text-align: center;
  padding:1% 1% 1% 1%;
  margin-bottom: 2%;
}

/*#editBlocks{
  display: inline-block;
    vertical-align: middle;
}*/

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#skinZone{
  padding:1% 1% 1% 1%;
  margin-bottom: 1%;
  border-radius: 20px;
  background-color: rgba(150, 150, 150, .6);
}

#dimZone{
  padding:1% 1% 1% 1%;
  border-radius: 20px;
  background-color: rgba(150, 150, 150, .6);
}

#dimZone img{
  height: 250px;
  border: 5px solid black;
}

#uploadSkinZone{
  padding:1% 1% 1% 1%;
  border-radius: 20px;
  margin-bottom: 1%;
  background-color: rgba(150, 150, 150, .6);
}

#removeSkinZone{
  padding:1% 1% 1% 1%;
  border-radius: 20px;
  margin-bottom: 4%;
  background-color: rgba(150, 150, 150, .6);
}

#fileToUpload{
  padding:5% 5% 5% 5%;
  border-radius: 20px;
  border: 3px dotted black;
  margin-bottom: 2%;
}

input[type=submit]{
  padding:0.5% 3% 0.5% 3%;
}

input[type=checkBox]{
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}
