* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/background.png");
  padding-top: 20vh;
  font-family: "Verdana";
}

.align_center{
  text-align: center;
}

#title{
  text-align:center;
  color:#FF66AA;
  text-shadow: 3px 3px white;
  margin-bottom: 3%;
}

/*text*/
.question{
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 4%;
}

.question_title{
  margin-bottom: 2%;
  color:#FF66AA;
  text-shadow: 1px 1px gray;
  font-size: 130%;
}

.question_text{
  text-align: justify;
  font-size: 110%;
}

.mail{
  text-align: center;
  background-color: lightgray;
  padding:2%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 100px;
}

@media only screen and (max-width: 1080px) and (orientation: portrait){
  .mail{
    margin-left: 4%;
    margin-right: 4%;
    font-size: 100%;
  }
}
