/* FOOTER */
body{
  position: relative;
  padding-bottom: 30rem;
  min-height: 100%;
}

footer{
  background-image: url("../images/background2.png");
  border-top: solid #FF66AA 10px;
  padding-bottom: 5%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
  /*padding: 1rem;*/
}

footer h3{
  margin-top: 2%;
  color: lightgray;
}

footer img{
  height: 15vh;
}

footer a{
   text-decoration: none;
}

footer a:hover{
  opacity: 0.6;
}

.footer_img{
  margin-top: 2%;
  text-align: center;
}

#created{
  color: lightgray;
  text-align: right;
  font-size: 90%;
  margin-right: 2%;
}

#created img{
 vertical-align:middle;
 height: 10vh;
 border-radius: 100%;
 border: solid white 2px;
}

.spacer{
  height:25vh;
  /*background-color: red;*/
}

/* Mobiles */
@media only screen and (max-width: 1080px) and (orientation: portrait){
  footer img{
    height: 10vh;
  }
  footer h3{
    font-size: 3vw;
  }
  #created{
    font-size: 2vw;
  }
}
