* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/background.png");
	/*padding-bottom:5%;*/
  padding-top: 20vh;
  font-family: "Verdana";
}

.align_center{
  text-align: center;
}

#title{
  text-align: center;
  color:#FF66AA;
   text-shadow: 3px 3px white;
   margin-bottom: 3%;
}

/* Bordered form */
form {
   /*border: 3px solid #f1f1f1;*/
   width:50vw;
   margin:auto;
}

b{
  font-family: "Verdana";
  font-size: 100%;
}

/* Full-width inputs */
input[type=text], input[type=password] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
}

/* Set a style for all buttons */
button {
   background-color: #4CAF50;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
   opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
   width: auto;
   padding: 10px 18px;
   background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
   text-align: center;
   margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
   width:20%;
   border-radius: 50%;
}

/* Add padding to containers */
.container {
   padding: 16px;
}

/* The "Forgot password" text */
span.psw {
   float: right;
   padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
   span.psw {
       display: block;
       float: none;
   }
   .cancelbtn {
       width: 100%;
   }
}

.errorText{
	color:red;
	font-family: "Verdana";
}

/* Tooltip container */
.tooltip {
   position: relative;
   display: inline-block;
   border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
   visibility: hidden;
   width: 250px;
   background-color: #555;
   color: #fff;
   text-align: center;
   padding: 5px 0;
   border-radius: 6px;

   /* Position the tooltip text */
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -60px;

   /* Fade in tooltip */
   opacity: 0;
   transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
}

@media only screen and (orientation: portrait){

  form {
     margin:auto;
     width:80vw;
  }

  b{
      font-size: 4vw;
  }

  #title{
    font-size: 5vw;
  }

  input[type=text], input[type=password] {
     font-size: 4vw;
  }

  button {
     font-size: 4vw;
  }

  .psw{
    font-size: 3vw;
  }
  .g-recaptcha{
    transform:scale(0.88);
    transform-origin:0 0;
  }
}
