/*Top navigation bar*/
.top-nav{
  z-index: 1000;
  font-family: "Verdana";
  position:fixed;
  top:0;
  display:flex;
  overflow:visible;
  height:6rem;
  width:100%;
  justify-content: center;
  align-items:center;
  background-color: #FF66AA;
  border-bottom:solid white 10px;
}

.nav-link{
  padding: 14px 16px;
  display:inline-block;
  width:15vw;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 3vh;
  border-radius:100px;
  align-items:center;
}

.top-nav a:hover {
  background-color: #FFB2D4;
}

#logo:hover {
  opacity: 0.9;
}

#logo img{
  width: 20vh;
}

#logo{
  margin-top: 4%;
  border-radius:50%;
}

.floatleft {
    float:left;
}
.floatright {
    float:right;
}

.active{
  background-color: #FFB2D4;
}

/* Mobiles */
@media only screen and (max-width: 1080px) and (orientation: portrait){
  [class*="floatright"] {
        float:left;
  }
  [class*="top-nav"] {
        align-items: center;
        height:15vw;
  }
  [class*="nav-link"] {
        font-size: 0;
        padding-left:2vw;
        padding-right:2vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
        width:10vw;
  }
  [class*="nav-link"] i{
      font-size: 7vw;
  }
  #logo{
    margin-top: 10%;
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

@media only screen and (max-width: 1080px) and (orientation: landscape){
  [class*="top-nav"] {
        height:15vh;
  }
}

@media only screen and (max-height:200px){
  .top-nav{
    display: none;
  }
}

@media only screen and (max-width:200px){
  .top-nav{
    display: none;
  }
}
