* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/background.png");
  padding-top: 20vh;
  font-family: "Verdana";
}

.align_center{
  text-align: center;
}

/* Real content */
#title{
  text-align: center;
  color:#FF66AA;
   text-shadow: 3px 3px white;
   margin-bottom: 3%;
}

#beatmap_section{
  border-radius: 50px;
  height:20vh;
  border: 5px solid #FFB2D4;
  margin:2% 4%;
  padding:1%;
  background-color: lightgray;
}

#span_timer{
  margin-top: 1%;
  margin-bottom: 1%;
  text-decoration: underline;
}

#timer{
  font-size: 1.2vw;
}

#duration{
  font-size: 1.3vw;
}

#beatmapImg{
  height:100%;
  float: left;
  border-radius: 50px;
}

#playerImg{
  height:100%;
  float: right;
  border-radius: 50px;
}

#text_section{
  padding-right: 5%;
  align-items: center;
  display:flex;
  flex-direction: column;
}

#text_section h2{
  font-size: 1.5vw;
  margin-bottom: 2%;
}

#text_section span{
  font-size: 1.2vw;
}

#progressBar_section{
  border-radius: 50px;
  height:auto;
  margin:0% 4%;
  border: 5px solid #FFB2D4;
  background-color: lightgray;
  padding: 1%;
  padding-top: 2%;
  text-align: center;
  font-size: 2vw;
}

#underline{
  height:0.7em;
  width:89%;
  margin-right:4%;
  border:5px solid black;
  position: absolute;
  border-radius: 100px;
}

#line{
  border:5px solid #ffb2d4;
  z-index: 100;
  border-radius: 100px;
  height:0.7em;
  width:100%;
  background-size: 56.57px 56.57px;
  background-image: linear-gradient(45deg, #ff66aa 25%, #ffb2d4 25%, #ffb2d4 50%, #ff66aa 50%, #ff66aa 75%, #ffb2d4 75%, #ffb2d4 100%);
}

#list_section{
  border-radius: 50px;
  height:auto;
  margin:0% 4%;
  margin-top: 2%;
  border: 5px solid #FFB2D4;
  background-color: lightgray;
  padding: 1%;
}

#list_section img{
  vertical-align: middle;
  margin-right: 1%;
  height:5vh;
  border:3px solid white;
  border-radius: 100%;
}

#list_section span{
  font-size: 1.5vw;
  font-weight: bold;
  vertical-align: middle;
}

#list_section div{
  margin-bottom: 1%;
}

#list_section h3{
  text-align: center;
  color:black;
  text-shadow: 2px 2px gray;
  font-size: 2vw;
}

/*Mobiles */
@media only screen and (orientation: portrait){
  #title{
    font-size: 5vw;
  }
  #text_section span{
    font-size: 2.2vw;
  }
  #timer{
    font-size: 2.2vw;
  }


  #beatmap_section{
    height:10vh;
  }
  #text_section h2{
    font-size: 2vw;
    margin-bottom: 2%;
  }
  #duration{
    font-size: 2.3vw;
  }

  #progressBar_section span{
    font-size: 3vw;
  }
  #list_section h3{
    font-size: 3.5vw;
  }
  #list_section span{
    font-size: 3vw;
  }
}
