* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/background.png");
	/*padding-bottom:5%;*/
  padding-top: 20vh;
  font-family: "Verdana";
}

#title{
  text-align:center;
  color:#FF66AA;
  text-shadow: 3px 3px white;
  margin-bottom: 3%;
}

form {
   margin-left: 20%;
   margin-right: 20%;
}

input[type=text], input[type=password], input[type=email] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
}

button {
   background-color: #4CAF50;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
}

button:hover {
   opacity: 0.8;
}

#recaptcha{
  width: auto;
  margin:auto;
}

label{
  font-weight: bold;
  font-family: "verdana";
}

span{
  font-family: "verdana";
  margin-bottom: 5%;
}

h3{
  font-family: "verdana";
  text-align: center;
}

p{
  color : red;
  text-align: center;
  font-weight: bold;
  font-family: "verdana";
}

/* Tooltip container */
.tooltip {
   position: relative;
   display: inline-block;
   border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
   visibility: hidden;
   width: 250px;
   background-color: #555;
   color: #fff;
   text-align: center;
   padding: 5px 0;
   border-radius: 6px;

   /* Position the tooltip text */
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -60px;

   /* Fade in tooltip */
   opacity: 0;
   transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
}
