body {
    background-image: url("../images/background.png");
	padding-bottom:5%;
}

#form{
	display:block;
	margin:auto;
	margin-left:27%;
	margin-right:27%;
	background-color: rgba(150, 150, 150, .5);
	padding:1% 1% 1% 1%;
	text-align:center;
	font-family:"Verdana";
	font-size:20px;
	border-radius:50px;
}

.content {
	display:block;
    width: 55%;
	height:100px;
	margin:auto;
	margin-top:1%;
    padding:1% 1% 1% 1%;
	background-color: rgba(150, 150, 150, .5);
	border-radius:50px;
	font-family:"Verdana";
	text-decoration: none;
	color:black;
}

.content img {
    margin-right: 3%;
    float: left;
	height:100px;
	border-radius:50px;
}

.content:hover{
	background-color: rgba(150, 150, 150, .7);
}

.requestContent {
	display:block;
    width: 40%;
	height:100px;
	margin:auto;
	margin-top:1%;
    padding:1% 1% 1% 1%;
	background-color: rgba(150, 150, 150, .5);
	border-radius:50px;
	font-family:"Verdana";
	text-decoration: none;
	color:black;
}

.requestContent img {
    margin-right: 3%;
    float: left;
	height:100px;
	border-radius:50px;
}

.requestContent:hover{
	background-color: rgba(150, 150, 150, .7);
}

#anim img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    max-width: 100%;
}
.content:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

#anim {
	margin-right: 3%;
	overflow: hidden;
	float: left;
	height:100px;
	border-radius:50px;
}

footer{
	font-family: "Verdana";
	position:fixed;
	height:3%;
	width:100%;
	text-align:center;
	margin-left:-1%;
	padding-right:1%;
	padding-top:1%;
	padding-bottom:1%;
    bottom: 0;
	background-color: rgba(150, 150, 150, .5);
	overflow:hidden;
}


