* {
  margin: 0;
  padding: 0;
}

body {
    background-image: url("../images/background.png");
	padding-top: 20vh;
  font-family: "Verdana";
  height:100%;
  position: relative;
}

/* Others */

.align_center{
  text-align: center;
}

/* Presentation */
#title{
  text-align: center;
  color:#FF66AA;
  text-shadow: 3px 3px white;
  margin-bottom: 2%;
}

#form{
	display:block;
	margin:auto;
	margin-left:27%;
	margin-right:27%;
	padding:1% 1% 1% 1%;
	text-align:center;
	font-family:"Verdana";
	font-size:20px;
	border-radius:50px;
}

input[type="text"]{
  vertical-align: middle;
  width:20vw;
  height:5vh;
  text-align:center;
  font-size: 110%;
}

input[type="submit"]{
  height: 6vh;
  width: 6vw;
}

.content {
	display:block;
  width: 80vw;
	height:15vh;
	margin:auto;
	margin-top:1%;
  padding:1% 1% 1% 1%;
	background-color: rgba(150, 150, 150, .5);
	border-radius:50px;
	font-family:"Verdana";
	text-decoration: none;
	color:black;
}

.content img {
    margin-right: 3%;
    float: left;
	height:15vh;
	border-radius:50px;
}

#alignRight{
	float : right;
}

.content:hover{
	background-color: rgba(150, 150, 150, .7);
}

.requestContent {
	display:block;
    width: 60%;
	height:15vh;
	margin:auto;
	margin-top:1%;
    padding:1% 1% 1% 1%;
	background-color: rgba(150, 150, 150, .5);
	border-radius:50px;
	font-family:"Verdana";
	text-decoration: none;
	color:black;
}

.requestContent img {
    margin-right: 3%;
    float: left;
	height:15vh;
	border-radius:50px;
}

.requestContent:hover{
	background-color: rgba(150, 150, 150, .7);
}

#anim img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    max-width: 100%;
}
.content:hover #anim img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.rotate90 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#anim {
	margin-right: 3%;
	overflow: hidden;
	float: left;
	height:15vh;
	border-radius:50px;
}

.img-valign {
  vertical-align: middle;
  margin-bottom: 0.75em;
}

.div-align {
	display: table;
	margin:0 auto;
	font-family:"Verdana";
	font-size:30px;
	margin-top:2%;
}

#placeholder{
  margin-bottom: 10%;
}

#beatmap_name{
  font-weight: bold;
  font-size: 1.5vw;
  color:black;
  text-shadow: 1px 1px lightgray;
  margin-bottom: 1%;
}

#block_content{
  font-size: 1vw;
}

#score{
  float:right;
}

/* Mobiles */
@media only screen and (max-width: 1080px) and (orientation: portrait){
  /* Search bar */
  input[type="text"]{
    width:30vw;
    height:5vh;
  }

  input[type="submit"]{
    height: 5vh;
    width: 15vw;
    font-size: 2vw;
  }

  #form{
  	margin-left:0%;
  	margin-right:0%;
  }
}
