* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/background.png");
	padding-top: 20vh;
  font-family: "Verdana";
}

.block {
  display: block;
	margin:auto;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(150, 150, 150, .5);
  border-radius:50px;
}

.align_center{
  text-align: center;
}

.back{
  height:70px;
  margin-right: 1%;
  position: sticky;
  right: 0;
  top: 0;
}

#header{
  padding: 2% 10% 2% 10%;
  overflow:auto;
  vertical-align: middle;
}

#userImage{
  border-radius:200px;
  border-style: solid;
  border-color: white;
  height:25vh;
  float: left;
}

#osuImage{
  border-radius:200px;
}

#osuImage img{
  height : 13vh;
  padding-left:8%;
  padding-top: 2%;
}

#osuImage:hover{
  opacity: 0.5;
}

#profileImage img{
  height : 13vh;
}

#profileImage:hover{
  opacity: 0.5;
}

#headerContent {
  display: inline-block;
  padding-left:8%;
  padding-right: 15%;
  font-family: "Verdana";
  font-size: 3.5vh;
  color:black;
}

#headerContent h1 {
  color: rgb(255, 102, 170);
  text-shadow: 2px 2px 0px rgba(150, 150, 150, 1);
}

#headerContent h3 {
  color: white;
  text-shadow: 2px 2px 0px rgba(150, 150, 150, 1);
}

#replayList h2{
  text-align: center;
  font-family: "Verdana";
  font-size: 2vw;
  padding-bottom: 2%;
}

#replayList {
  margin-top: 2%;
  padding: 1% 2% 1% 2%;
  text-align: center;
}

.replayImg {
  border: 5px solid white;
  height:180px;
  width:240px;
}

.replayImg:hover {
  opacity: 0.5;
}

#replayList a {
  border: 5px solid transparent;
}

.showMore {
  margin-top: 2%;
}

/* Mobiles */
@media only screen and (max-width: 1080px) and (orientation: portrait){
  /*First block*/
  #userImage{
    height:30vw;
    float:none;
  }
  #header{
    padding: 2% 5% 2% 5%;
    text-align: center;
  }
  #headerContent{
    font-size: 4.5vw;
  }
  #osuImage img{
    height : 15vw;
    padding-left:0%;
  }
  #profileImage img{
    height : 15vw;
  }

  /*Replay library*/
  #replayList h2{
    font-size: 5vw;
    padding-bottom: 2%;
  }
}
