* {
  margin: 0;
  padding: 0;
}

body {
  margin:0;
  background-image: url("../images/background.png");
  padding-top: 20vh;
  font-family: "Verdana";
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-y: auto;
}

/* Modal Content/Box */
.modal-content {
    border-radius: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    margin-top: 20vh;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    display:flex;
    flex-direction: column;
    text-align: center;
}

.modal-content button{
  width:20vw;
  height:5vh;
  margin: auto;
  font-size: 1.2vw;
  margin-top: 1%;
}

.modal-content input[type="submit"]{
  width:20vw;
  height:5vh;
  margin: auto;
  font-size: 1.2vw;
  margin-top: 1%;
}

#button_yes{
  background-color: lightgreen;
}

#button_no{
  background-color: red;
}

/* Video */
#title{
  text-align: center;
  color:#FF66AA;
   text-shadow: 3px 3px white;
}

#subtitle{
  text-align: center;
  color:black;
   text-shadow: 1px 1px gray;
   margin-bottom: 3%;
   font-size: 1.5vw;
}

#section_title{
  font-size: 130%;
  margin-bottom: 2%;
  color: black;
  text-shadow: 1px 1px white;
  font-size: 1.5vw;
}

.align_center{
  text-align: center;
}

.videoYt{
  width: 64vw;
  height:70vh;
  margin-left: 1%;
  display:inline-block;
  float: left;
}

.player_container{
  margin-left: 10%;
  margin-right: 10%;
}

.right_content{
  background-color: rgba(150, 150, 150, .5);
  border-radius: 50px;
  align-items: center;
  display:flex;
  flex-direction: column;
  height:auto;
  width:31vw;
  padding-top: 2vh;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 2%;
}

#beatmap_image{
  height:30%;
  border: 3px solid #555;
}

#played{
  font-size: 120%;
  margin-top: 3%;
  margin-bottom: 3%;
}

/* accounts */
#account_block{
  display: flex;
  background-color: lightgray;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height:25vh;
  margin-bottom: 2%;
}

#profile_image{
  height: 20vh;
  border-radius: 500px;
  vertical-align: middle;
  border: 5px solid white;
  margin-right: 2%;
}

.account_image{
  border-radius: 100px;
}

.account_image:hover{
  opacity: 0.6;
}

.account_image img{
  border-radius: 100px;
  height: 10vh;
  vertical-align: middle;
}

/* mods */
#modsBlock{
  background-color: lightgray;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  padding-top: 1%;
  text-align: center;
  width:25vw;
}

/* Source - replay and skin */
#download_section{
  background-color: lightgray;
  border-radius: 10px;
  width: 25vw;
  text-align: center;
}

#download_section a:hover{
  opacity: 0.6;
}
#download_section img{
  height: 13vh;
}

.disabled{
  opacity: 0.5;
}

/* Second block */
.second_block{
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 2%;
  margin-left: 1%;
  margin: auto;
  width: 62vw;
  height:15vh;
  padding: 1%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#share_section {
  display: inline-block;
}
#share_section a:hover{
  opacity: 0.5;
}

#share_section img{
  height: 10vh;
  border-radius: 20%;
}

.third_block{
  background-color: lightgray;
  border-radius: 10px;
  height:auto;
  width:31vw;
  margin-top: 2%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  padding-top: 1%;
  margin: auto;
}

#manage_section{
  display: inline-block;
}
#manage_section a:hover{
  opacity: 0.5;
}
#manage_section img{
  height: 10vh;
}

/*Mobiles*/
@media only screen and (orientation: portrait){
  /* Titles */
  #title{
    font-size: 5vw;
  }

  #subtitle{
    font-size: 4vw;
  }

  /*First block*/
  .right_content{
    width:auto;
    height:auto;
    margin-left: 5%;
    margin-right:5%;
  }
  #section_title{
    font-size: 4vw;
  }
  #account_block{
    width:auto;
    object-fit: contain;
  }

  /*Downloads*/
  #download_section{
    background-color: lightgray;
    border-radius: 10px;
    width:auto;
    margin-left: 5%;
    margin-right:5%;
    text-align: center;
    margin-bottom: 2%;
  }
  #download_section img{
    height: 13vh;
  }

  /* mods */
  #modsBlock{
    width:auto;
    margin-left: 5%;
    margin-right:5%;
  }
  #modsBlock img{
    height: 5vh;
  }

  .player_container{
    margin-left: 1%;
    margin-right: 1%;
  }

}
