body {
    background-image: url("../images/background.png");
	padding-bottom:5%;
}

span{
	display:block;
	font-family:"Verdana";
	font-size:20px;
	text-align:center;
	margin:auto;
	margin-bottom:2%;
}

iframe{
	display:block;
	margin:auto;
	width:90%;
	border:5px;
	border-color:gray;
	border-style: solid;
}

video{
	display:block;
	margin:auto;
	width:90%;
	border:5px;
	border-color:gray;
	border-style: solid;
}

section{
	display:block;
	font-family:"Verdana";
	text-align:center;
	margin:auto;
	margin-left:20%;
	margin-right:20%;
	margin-top:20px;
	padding:1% 1% 1% 1%;
	background-color: rgba(150, 150, 150, .5);
	border-radius:50px;
}

#buttonBlock{
	width:50%;
	height:10%;
	background-color: rgba(150, 150, 150, .5);
	border-radius:50px;
	margin:auto;
	margin-top:2%;
	margin-bottom:2%;
	text-align:center;
}

#buttonBlock img{
	display: block;
	height:150px;
	margin:2% 2% 1% 1%;
	display:inline-block;
}

#modsBlock{
	width:50%;
	height:10%;
	background-color: rgba(150, 150, 150, .5);
	border-radius:50px;
	margin:auto;
	margin-top:2%;
	margin-bottom:2%;
	text-align:center;
}

#modsBlock img{
	display: block;
	height:100px;
	margin:2% 2% 1% 1%;
	display:inline-block;
}


footer{
	font-family: "Verdana";
	position:fixed;
	height:3%;
	width:100%;
	text-align:center;
	margin-left:-1%;
	padding-right:1%;
	padding-top:1%;
	padding-bottom:1%;
    bottom: 0;
	background-color: rgba(150, 150, 150, .5);
	overflow:hidden;
	font-size:110%;
}
